html body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #202124;
}

#container {
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
}

#searchbox {
    background-color: #272727;
    color: white;
    margin-top: 50px;
    border: 0;
    border-width: 0px;
    width: 600px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    outline: none;
}
